<div class="shopping">
  <md-progress-spinner class="weeks-loading" *ngIf="loading" [mode]="'indeterminate'">
  </md-progress-spinner>

  <section *ngIf="!loading">
    <h2>Shopping</h2>

    <div>
      <p>
        Total owed to shoppers (excluding this week and last week):
        <strong>{{ amountOwed() | currency:'NZD':true }}</strong>
      </p>

      <table>
        <thead>
          <tr>
            <th>Week</th>
            <th>Shopper</th>
            <th>Cost</th>
            <th>Paid</th>
            <th>Owed</th>
            <th class="members-outstanding">Members Outstanding</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let week of weeks">
            <td [ngPlural]="currentWeekId - week.weekId">
              <ng-template ngPluralCase="=-1">Next week</ng-template>
              <ng-template ngPluralCase="=0">This week</ng-template>
              <ng-template ngPluralCase="=1">Last week</ng-template>
              <ng-template ngPluralCase="other">{{currentWeekId - week.weekId}} weeks ago</ng-template>
            </td>
            <td>{{ week.shopper.firstName }} {{ week.shopper.lastName }}</td>
            <td>
              <form (submit)="updateWeek(week)">
                <md-input-container>
                  <span mdPrefix>$ &nbsp;</span>
                  <input class="cost-input" mdInput type="number" name="cost" step="0.01" [(ngModel)]="costs[week.weekId]" aria-label="Grocery cost for week">
                </md-input-container>

                <button type="submit" md-raised-button color="primary">
                  Update
                </button>
              </form>
            </td>
            <td>{{ totalPaidForWeek(week) | currency:'NZD':true }}</td>
            <td [ngClass]="week.cost - totalPaidForWeek(week) > 0 ? 'unpaid' : 'paid'">{{ week.cost - totalPaidForWeek(week) | currency:'NZD':true }}</td>
            <td class="members-outstanding">
              <md-list class="week-avatars">
                <md-list-item *ngFor="let weekLink of outstandingMembers(week)">
                  <img md-list-avatar src="{{ weekLink.user.avatarUrl }}" alt="{{ weekLink.user.firstName }} {{ weekLink.user.lastName }}"
                    mdTooltip="{{ weekLink.user.firstName }} {{ weekLink.user.lastName }}">
                </md-list-item>
              </md-list>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section *ngIf="!loading">
    <h2>Members</h2>

    <table *ngIf="!loading">
      <thead>
        <tr>
          <th>Member</th>
          <th>Total Owing</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of members">
          <td>{{ member.firstName }} {{ member.lastName }}</td>
          <td>{{ member.totalCost - member.totalPaid | currency:'NZD':true }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
