<md-card class="week">
  <md-card-header>
    <img md-card-avatar [src]="weekLink.week.shopper.avatarUrl" />
    <md-card-title>
      Week of {{ weekService.getStartOfWeek(weekService.weekIdToDate(weekLink.weekId)) | date:'dd/MM/yy' }}
    </md-card-title>
    <md-card-subtitle>
      <span *ngIf="currentWeekId === weekLink.weekId">
        this week
      </span>
      <span *ngIf="currentWeekId > weekLink.weekId">
        {{currentWeekId - weekLink.weekId}} week(s) ago
      </span>
      <span *ngIf="currentWeekId === weekLink.weekId - 1">
        next week
      </span>
      <span *ngIf="currentWeekId === weekLink.weekId - 2">
        week after next
      </span>
      <span *ngIf="currentWeekId < weekLink.weekId - 2">
        WTF are you doing? this is the future!!
      </span>
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>Cost: {{ weekLink.week.cost | currency:'NZD':true }}</p>
    <p>Your share: {{ weekLink.week.costPerUser | currency:'NZD':true }}</p>
    <p>Paid: {{ weekLink.paid | currency:'NZD':true }}
    <p *ngIf="weekLink.week.shopper">Shopper: {{ weekLink.week.shopper.firstName }}</p>
    <p *ngIf="!weekLink.week.shopper">No shopper set</p>
  </md-card-content>
  <md-card-actions align="end">
    <!-- <button md-button (click)="lastWeek()">PREVIOUS WEEK</button>
    <button md-button (click)="nextWeek()">NEXT WEEK</button>
    <button md-button (click)="subToWeek()" *ngIf="thisWeekSub == null || thisWeekSub?.slices === 0">JOIN</button>
    <button md-button (click)="unsubToWeek()" *ngIf="thisWeekSub?.slices === 1">LEAVE</button> -->
  </md-card-actions>
</md-card>
