<mat-progress-spinner
  class="weeks-loading"
  *ngIf="loading"
  mode="indeterminate">
</mat-progress-spinner>

<div *ngIf="!loading" class="home">
  <section class="weeks-list">
    <h2>Active Weeks</h2>

    <sc-week-list
      [weeks]="activeWeeks"
      [me]="me"
      (onChange)="refresh($event)">
    </sc-week-list>
  </section>

  <section class="weeks-list">
    <h2>Due Weeks</h2>

    <div class="weeks-header">
      <button mat-raised-button color="primary" class="weeks-paidButton" (click)="markAllPaid()" [disabled]="isAllPaid()">Mark all paid</button>

      <p class="weeks-payTo" *ngIf="!isAllPaid()">
        Pay <strong>{{ me.totalCost - me.totalPaid | currency:'NZD':true }}</strong>
        to {{ primaryShopper.firstName}}
        <strong class="weeks-payToAccount">{{ primaryShopper.bankName }} {{ primaryShopper.bankDetails }}</strong>
      </p>
      <p class="weeks-payTo" *ngIf="isAllPaid()">
        You are all settled up.
      </p>
    </div>

    <sc-week-list
      [weeks]="dueWeeks"
      [me]="me"
      (onChange)="refresh($event)">
    </sc-week-list>
  </section>
</div>
