.home {
  margin: 24px auto;
  max-width: 600px;

  @media(max-width: 648px) {
    margin: 24px;
  }
}

.weeks-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.weeks-list {
  margin-bottom: 24px;
}

.weeks-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}

.weeks-paidButton {
  flex: 0 0 auto;
  margin-right: 8px;
}

.weeks-payTo {
  margin: 0;
}

.weeks-payToAccount {
  white-space: nowrap;
}
