<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav>
    <md-nav-list>
      <a md-list-item (click)="logout()">
        <md-icon md-list-icon>input</md-icon>
        <span md-line>Logout</span>
      </a>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.open()">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"/>
      </svg>
    </button>
    Sandwich Club 2
  </md-toolbar>
  <!--<user-tile [user]="me | async" (linkUpdated)="linkUpdated($event)"></user-tile>-->
  <!--<week-tile [week]="week | async"></week-tile>-->

  <!--<user-tile [link]="link" (linkUpdated)="linkUpdated($event)" *ngFor="let link of (week | async)?.Links"></user-tile>-->
  <div class="content">
    <md-card>
      <md-card-header *ngIf="me | async">
        <img md-card-avatar [src]="(me | async)?.data.me.avatarUrl">
        <md-card-title>{{(me | async)?.data.me.firstName}} {{(me | async)?.data.me.lastName}}</md-card-title>
        <md-card-subtitle>Header subtitle</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        You owe: {{ unpaidAmount | async }}
      </md-card-content>
    </md-card>

    <md-card *ngIf="week | async">
      <md-card-header>
        <md-card-title>Week Details</md-card-title>
      </md-card-header>
      <md-card-content>
        <span>Cost: {{ (week | async)?.data.week.cost }}</span> <br>
        <span
          *ngIf="(week | async)?.data.week.shopper">Shopper: {{ (week | async)?.data.week.shopper?.firstName }}</span>
        <span *ngIf="!(week | async)?.data.week.shopper">No shopper set</span>
      </md-card-content>
      <md-card-actions align="end">
        <button md-button (click)="lastWeek()">PREVIOUS WEEK</button>
        <button md-button (click)="nextWeek()">NEXT WEEK</button>
        <button md-button (click)="subToWeek()">JOIN</button>
      </md-card-actions>
    </md-card>

    <span>People in week</span><br>
    <ul>
      <li *ngFor=" let user of (week | async)?.data.week.users">
        {{user.user.firstName}}
      </li>
    </ul>

    <input type="number" [(ngModel)]="cost">

    <button (click)="updateCost()">Update Cost</button>
    <button (click)="refetch()">Refetch</button>
  </div>
</md-sidenav-layout>
