<div *ngFor="let week of weeks" class="week">
<md-card class="week">
  <md-card-header>
    <img md-card-avatar src="https://placeimg.com/40/40/animals" />
    <md-card-title>
      Week of {{ weekService.getStartOfWeek(weekService.weekIdToDate(week.weekId)) | date:'shortDate' }}
    </md-card-title>
    <md-card-subtitle [ngPlural]="currentWeekId - week.weekId">
      <ng-template ngPluralCase="=0">this week</ng-template>
      <ng-template ngPluralCase="=1">last week</ng-template>
      <ng-template ngPluralCase="other">{{currentWeekId - week.weekId}} weeks ago</ng-template>
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>Cost: {{ week.cost | currency:'NZD':true }}</p>
    <p>{{ numMembersJoined(week) }} members joined</p>
    <p>Share per member: {{ week.costPerUser | currency:'NZD':true }}</p>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="subToWeek(week.weekId)" *ngIf="isSubbedToWeek(week.weekId)">JOIN</button>
    <button md-button (click)="unSubToWeek(week.weekId)" *ngIf="!isSubbedToWeek(week.weekId) && !hasPayedForWeek(week.weekId)">LEAVE</button>
    <button md-button disabled *ngIf="hasPayedForWeek(week.weekId)">PAID {{ amountPayedForWeek(week.weekId) | currency:'NZD':true }}</button>
  </md-card-actions>
</md-card>
</div>
