<div *ngFor="let week of weeks" class="week">
<mat-card class="week">
  <mat-card-header>
    <img mat-card-avatar
      src="{{ week.shopper.avatarUrl }}"
      alt="{{ week.shopper.firstName }} {{ week.shopper.lastName }}"
      matTooltip="{{ week.shopper.firstName }} {{ week.shopper.lastName }}" />
    <mat-card-title>
      Week of {{ weekService.getStartOfWeek(weekService.weekIdToDate(week.weekId)) | date:'shortDate' }}
    </mat-card-title>
    <mat-card-subtitle [ngPlural]="currentWeekId - week.weekId">
      <ng-template ngPluralCase="=-1">next week</ng-template>
      <ng-template ngPluralCase="=0">this week</ng-template>
      <ng-template ngPluralCase="=1">last week</ng-template>
      <ng-template ngPluralCase="other">{{currentWeekId - week.weekId}} weeks ago</ng-template>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Cost: {{ week.cost | currency:'NZD':true }}</p>
    <p>{{ week.users.length }} members joined</p>
    <p>Share per member: {{ week.costPerUser | currency:'NZD':true }}</p>

    <mat-list class="week-avatars">
      <mat-list-item *ngFor="let weekLink of week.users">
        <img mat-list-avatar
          src="{{ weekLink.user.avatarUrl }}"
          alt="{{ weekLink.user.firstName }} {{ weekLink.user.lastName }}"
          matTooltip="{{ weekLink.user.firstName }} {{ weekLink.user.lastName }} ({{ weekLink.paid <= 0 ? 'unpaid' : 'paid' }})">
      </mat-list-item>
    </mat-list>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="subToWeek(week.weekId)" *ngIf="isSubbedToWeek(week)">JOIN</button>
    <button mat-button (click)="unSubToWeek(week.weekId)" *ngIf="!isSubbedToWeek(week) && !hasPaidForWeek(week)">LEAVE</button>
    <button mat-button disabled *ngIf="hasPaidForWeek(week)">PAID {{ amountPaidForWeek(week) | currency:'NZD':true }}</button>
  </mat-card-actions>
</mat-card>
</div>
