<div *ngFor="let week of weeks" class="week">
<md-card class="week">
  <md-card-header>
    <img md-card-avatar
      src="{{ week.shopper.avatarUrl }}"
      alt="{{ week.shopper.firstName }} {{ week.shopper.lastName }}"
      mdTooltip="{{ week.shopper.firstName }} {{ week.shopper.lastName }}" />
    <md-card-title>
      Week of {{ weekService.getStartOfWeek(weekService.weekIdToDate(week.weekId)) | date:'shortDate' }}
    </md-card-title>
    <md-card-subtitle [ngPlural]="currentWeekId - week.weekId">
      <ng-template ngPluralCase="=-1">next week</ng-template>
      <ng-template ngPluralCase="=0">this week</ng-template>
      <ng-template ngPluralCase="=1">last week</ng-template>
      <ng-template ngPluralCase="other">{{currentWeekId - week.weekId}} weeks ago</ng-template>
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>Cost: {{ week.cost | currency:'NZD':true }}</p>
    <p>{{ week.users.length }} members joined</p>
    <p>Share per member: {{ week.costPerUser | currency:'NZD':true }}</p>

    <md-list class="week-avatars">
      <md-list-item *ngFor="let weekLink of week.users">
        <img md-list-avatar
          src="{{ weekLink.user.avatarUrl }}"
          alt="{{ weekLink.user.firstName }} {{ weekLink.user.lastName }}"
          mdTooltip="{{ weekLink.user.firstName }} {{ weekLink.user.lastName }} ({{ weekLink.paid <= 0 ? 'unpaid' : 'paid' }})">
      </md-list-item>
    </md-list>

  </md-card-content>
  <md-card-actions>
    <button md-button (click)="subToWeek(week.weekId)" *ngIf="isSubbedToWeek(week)">JOIN</button>
    <button md-button (click)="unSubToWeek(week.weekId)" *ngIf="!isSubbedToWeek(week) && !hasPaidForWeek(week)">LEAVE</button>
    <button md-button disabled *ngIf="hasPaidForWeek(week)">PAID {{ amountPaidForWeek(week) | currency:'NZD':true }}</button>
  </md-card-actions>
</md-card>
</div>
